#(project
  (#(deps (#("lfex/lcfg" "master")))
   #(meta (
     #(name calrissian)
     #(description "Monads for LFE")
     #(version "0.1.0")
     #(keywords ("LFE" "Lisp" "Library" "Monads"))
     #(maintainers (
       (#(name "Correl Roush") #(email "correl@gmail.com"))))
     #(repos (
       #(github "correl/calrissian")))))))
