{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", "develop"}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", "master"}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", "master"}},
   {lcfg, ".*", {git, "git://github.com/lfex/lcfg.git", "master"}}
  ]}.
